# Third-party libraries
Assets/styles/flowbite.min.css linguist-vendored=true
Assets/styles/tailwind.min.css linguist-vendored=true
Assets/styles/micromodal.min.css linguist-vendored=true
Assets/script/jquery.min.js linguist-vendored=true
Assets/script/flowbite.min.js linguist-vendored=true
Assets/script/micromodal.min.js linguist-vendored=true

# FontAwesome - match all files in all subdirectories
Font/**/* linguist-vendored=true

# Minified versions excluded
*.min.js linguist-vendored=true
*.min.css linguist-vendored=true